@media screen and (max-width: 1106px) {
  .App {
    padding: 0;
    background-color: #5dc0e0;
  }

  nav {
    svg {
      font-size: 2rem;
    }

    ul {
      li {
        svg {
          font-size: 1.3rem;
        }
      }
    }
  }

  .search {
    float: none;
    display: flex;
    justify-content: flex-start;
    width: 50%;

    button {
      font-size: 1.9rem;
      background-color: transparent;
      border: 0;
    }
  }

  .cards {
    margin-top: 2rem;

    > div {
      display: flex;
      justify-content: space-between;
    }

    img {
      max-width: 200%;
    }

    p {
      font-size: 1.5rem;
    }

    button {
      font-size: 0.9rem;
      background-color: transparent;
      border: 0;
    }
  }

  .popup {
    padding: 2rem;

    button {
      font-size: 2rem;
      background-color: transparent;
      border: 0;
    }

    .body {
      margin: 0;
      padding: 2rem 3rem;
      width: 90%;

      img {
        max-width: 60%;
        border-radius: 3rem;
      }

      li {
        border-top: 1px solid #000;
        list-style: none;
        display: flex;
        justify-content: space-between;

        &:nth-child(odd) {
          background-color: rgb(25, 131, 167);
        }
      }
    }

    p {
      font-size: 1.3rem;
    }
  }

  .topbtn {
    bottom: 2vh;

    button {
      color: #fff;
    }
  }

  .container {
    background-color: rgb(93, 192, 224);
    padding: 3rem 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 520px) {
  .container {
    padding: 3rem 0 0 1rem;
  }

  .cards {
    width: 100%;
    padding: 0;

    img {
      max-width: 11rem;
    }
  }

  .popup {
    .body {
      padding: 2rem 0;

      img {
        max-width: 17rem;
      }
    }
  }
}
