.container {
    padding: 3rem;
    margin: 1rem 3rem 1rem 10rem;
}

.cards {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1.3rem;
    margin-top: 13rem;

    &:first-child{
        margin-top: 0;
    }

    img {
        max-width: 400px;
    }

    p {
        font-size: 2rem;
        font-weight: 700;
    }

    button {
        border: 0;
        outline: 0;
        width: 50%;
        font-size: 1.3rem;
        background: transparent;
        box-shadow: 0px 0px 1px 0px #0000009c;
    }
}


.right {
    clear: right;
    float: right;
}

.left {
    clear: left;
    float: left;
}