.popup{
    top: 10vh;
    left: 0;
    position: absolute;
    background: #fff;
    width: 100%;
    padding: 2rem;

p{
    font-size: 1.2rem;
    font-weight: 600;
}

button{
    font-size: 2rem;
    box-shadow: none;
    border: 0;
    outline: 0;
    background: transparent;
}

    .body{
            margin: auto;
            width: 37%;
            padding-top: 5rem;
            
        img{
            max-width: 40rem;
        }

        p{
            padding: .5rem .5rem 0;
            &:nth-child(odd){
                float: right;
            }
        }
    }

.nut{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.li{
    display: flex;
    flex-direction: column;
}

}