.popup{
    height: 100%;
    top: 10vh;
    left: 0;
    position: absolute;
    background: #fff;
    width: 100%;

    div{
        &:first-child{
            margin: auto;
        }

        img{
            max-width: 40rem;
        }
    }

}